/* -- Style Global -- */
:root {
    --primary-color: #0A120C;
    --primary-color-more-dark: #001e0e;
    --primary-color-dark: #003C1C;
    --primary-color-hightlight: #4DC344;
    --primary-color-lightgreen: #CBFCD8;
    --primary-color-medlight: #DDD9C7;
    --primary-color-full-light: #EDEBE3;
    --primary-color-yellow: #FFC300;
    --primary-color-rgba: #003c1c40;
    --bs-body-bg: #0A0A0A;
    --bs-body-font-family: 'Roboto', sans-serif;
    --bs-body-font-family: 'Muli', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(60deg, #0a120c, #101010, #000e07, #000503, #101010);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

/* -- Animation Background -- */
@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}



/* Section Fiche Film */
#actor__sheet {
    min-width: 60vh;
    padding: 6rem 0;
    background-image:
        linear-gradient(to bottom, rgba(20, 20, 20, 0.85), rgba(11, 10, 10, 0.60)),
        url(../images/jasonStatham.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top 1rem left -10rem;
    background-blend-mode: saturation;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

#actor__sheet .img__container {
    width: 600px;
    height: auto;
}

#actor__sheet .img__actor {
    position: relative;
    right: 10%;
    width: 100%;
    height: auto;
    z-index: 10;
}

#actor__sheet h2.title__custom,
#actor__sheet h2.name,
#actor__sheet .descript__actor,
#actor__sheet .btn__group {
    text-align: right;
    margin: 0;
}

#actor__sheet h2.title__custom {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color-medlight);
}

#actor__sheet h2.name {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--primary-color-hightlight);
}

#actor__sheet p.descript__actor {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 10px 0 10px 50px;
    color: var(--primary-color-full-light);
}

#actor__sheet .group__actors.bloc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 3rem;
}

#actor__sheet .bloc {
    width: 100px;
    height: auto;
    border-radius: 20px;

}

#actor__sheet img.movie {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#actor__sheet .bloc a {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

#actor__sheet .bloc a:hover {
    transform: scale(1.1) !important;
    transition: all 0.5s ease-in-out !important;
}
